@import "tailwindcss";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

html {
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}